<div class="base-card he{{$ctrl.height}}" ng-class="{'flipped': $ctrl.isFlipped}">
    <div class="card-container">
        <div class="card" ng-class="{'has-footer': $ctrl.hasFooter}">
            <div class="header">
                <span class="pull-left">
                <h4 class="card-title" ng-bind="$ctrl.title"></h4>
                </span>
                    <span class="pull-right card-settings-button" ng-if="$ctrl.canFlip" ng-click="$ctrl.toggleFlip()" aria-label="Card settings">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
            </div>

            <div class="card-content">
                <div class="card-front" ng-transclude="front" ng-hide="$ctrl.isLoading"></div>
                <div class="card-status" ng-if="$ctrl.isLoading">
                    Loading...
                </div>
            </div>

            <div class="card-footer" ng-transclude="footer" ng-if="$ctrl.hasFooter" ng-hide="$ctrl.isLoading"></div>
        </div>

        <div class="card-settings" ng-if="$ctrl.canFlip">
            <div class="header">
                <span class="pull-left">
                    <h4 class="card-title" ng-bind="$ctrl.title"></h4>
                </span>
                <span class="pull-right card-settings-button" ng-click="$ctrl.saveSettings()" aria-label="Save card settings">
                    Save
                </span>
            </div>

            <div class="card-back" ng-transclude="back" ng-hide="$ctrl.isLoading"></div>
        </div>
    </div>
</div>